* {
    font-family: 'Poppins', sans-serif;
    color: #bfafa9;
    
}

body {
    background-color: #f5efe5;
    overflow-x: hidden;
}

.mainTitleDiv {
    display: flex;
    justify-content: center;
}

.title {
    font-size: 5rem;
    text-align: center;
    margin: 10px;
}

.PlayersTitleDiv{
    display: flex;
    justify-content: center;
}

.PlayersTitle {
    font-size: 3rem;
    margin: 0;
}

.Players {
    display: flex;
    justify-content: center;
    margin: 30px;
    flex-wrap: wrap;
}

.Player {
    width: min(30vw, 200px);
    height: min(30vw, 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 10px;
    cursor: pointer;

    -webkit-tap-highlight-color: transparent;
}

.Player img {
    width: 100%;
    height: 100%;
    filter: brightness(30%);
}

.Player.active img{
    filter: brightness(100%);
}


.sudoku {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 50px 20px;
}


.column {
    display: flex;
}

.table {
    position: relative;
}

.tablero{
    position: absolute;
    width: auto;
    height: 102%;
    left: 50%;
    transform: translate(-56.25%, -1.1%);
    z-index: -1;
}

.casilla {
    border: 2px solid rgba(0, 0, 0, 0);
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.casilla img {
    width: 90%;
    height: 90%;
}

.ButtonDiv {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.Button {
    display: inline-block;
	font-weight: 400;
	color: #bfafa9;
	text-align: center;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 3rem;
	line-height: 1.5;
	border-radius: 1rem;
	background-color: #8f7373;
    width: auto;
    cursor: pointer;
}

.Button:hover {
    background-color: #9e8383;
}

.Button:disabled {
    color: #7f6e67;
    background-color: #685353;
}

